[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
mysqlclient = "*"
djangorestframework-simplejwt = "*"
python-decouple = "*"
pillow = "*"
requests = "*"
drf-yasg = "*"
pydub = "*"

[dev-packages]

[requires]
python_version = "3.10"
